.strong {
  font-family: $font-merriweather-bold;
  color: $color-purple;
}

.important {
  color: $color-red;
  font-size: 1.75em;
}






.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}