$color-purple: #3c1667;
$color-purple-dark: #645d73;
$color-red: #ff382e;

$color-grey: #ccc;
$color-grey-light: lighten(#ccc, 17%);
$color-grey-dark: #bfbcc5;



$color-white: #fff;
$color-cyan: #9ae6d9;



$font-noticia-regular: 'noticia_textregular', sans-serif;
$font-noticia-bold: 'noticia_textbold', sans-serif;
$font-merriweather-bold: 'merriweather_sansbold', sans-serif;
$font-merriweather-regular: 'merriweather_sansregular', sans-serif;